<%= form_with(model: @picture_blog, local: true ,url: choose_new_or_edit ) do |form| %>
  <% if @picture_blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= @picture_blog.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @picture_blog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="picture_blog_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="picture_blog_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <%= form.submit %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", picture_blogs_path %>